.container {
    max-width: 940px;
    margin: 0 auto;
}

.logo {
    padding: 10px;
}

.navigation {
    margin-right: 65px;
    margin-top: -25px;
}

.content {
    width: 85%;
    height: 100%;
    min-height: 473px;
    margin: 0 auto;
    margin-top: 40px;
    border: 5px dotted #dbb8ff;
    border-radius: 5px;
    background-color: #F8F1FF;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}

#mobile {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    margin-top: 40px;
    border: 5px dotted #dbb8ff;
    border-radius: 5px;
    background-color: #F8F1FF;
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
}

.logo-mobile {
    height: 100px;
    width: 310px;
}

.abt-text{
    padding: 30px;
}

#tab2 {
    margin-top: -300px;
    padding: 10px;
}

#tab3 {
    margin-top: -300px;
    padding: 10px;
}

.caption {
    font-size: 14px;
}

.image {
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

.left-swirl {
    position: relative;
    height: 150px;
    width: 150px;
    float: left;
    margin-top: 140px;
    margin-left: -170px;
}

.right-swirl {
    position: relative;
    height: 150px;
    width: 150px;
    float: right;
    margin-top: 140px;
    margin-right: -170px;
}

.copyright {
    position: relative;
    bottom-margin: 0px;
    text-align: center;
    width: 100%;
}

.work2 {
    display: none;
}

a:link {
    text-decoration: none;
    color: #B88AE6;
}

a:visited {
    text-decoration: none;
    color: #B88AE6;
}

a:hover {
    color: #B88AE6;
    font-weight: bolder;
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: #9981B2;
}

#name {
    margin: 0 auto;
    width: 60%;
    border-color: #9981B2;
}

#email {
    margin: 0 auto;
    width: 60%;
    border-color: #9981B2;
}

#message {
    margin: 0 auto;
    width: 60%;
    border-color: #9981B2;
}

.lbl {
    margin-top: -50px;
}

.pg-control {
    padding: 5px;
    margin-top: -25px;
}

.pg-control2 {
    padding: 5px;
    margin-top: 10px;
}
